* {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
}
nav {
  padding: 10px 0;
}

#menu {
  background-color: rgb(196, 196, 205);
}

#menu ul li {
  display: inline;
}

#menu ul li a {
  padding: 30px 20px;
  display: inline-block;
  background-color: rgb(0, 0, 0);
  border: solid 1.5px white;
}

#menu ul li .esquerda {
  float: right;
  margin-right: 15px;
}

#menu ul li:first-child a {
  margin-left: 10px;
  padding: 30px 70px;
}

section {
  margin: 50px auto;
  display: flex;
  justify-content: center;
}

article {
  margin: auto 2%;
  display: inline-block;
  background: blueviolet;
  height: 15vw;
  width: 23vw;
}

.b {
  height: 20vw;
  width: 43vw;
}

@media screen and (max-width: 900px) {
  .a {
    display: none;

  }
}

@media screen and (max-width: 650px) {
  #menu ul li .esquerda {
    margin-right: 5px;
  }
}

@media screen and (max-width: 556px) {
  #menu ul li .esquerda {
    margin-right: 0px;
  }

  nav {
    display: flex;
  }
}
